.wrapper {
    display: grid;
    grid-gap: 10px;
    padding-bottom: 20px;
}
.wrapper > div {
    text-align: center;
}

.wrapper_img{
    width: 100%;
    display: grid;
    grid-template-columns: 10px auto auto auto auto 10px;
    grid-gap: 10px;

}

.contenuImg {
  width: 86px;
  background-color: #20303A;
  height: 86px;
  text-align: center;
  border-radius: 10px;
}

.contourImg{
  width: 86px;
  height: 150px;
  border: 1px solid red;
}
