body{
  width: auto;
  background-color: #17242E;
}

.header{
  flex: 100%;
  padding-top: 0;
  background-image:url(../img/bcode_page_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: auto;
  width: 100%;
  position: fixed;
}

.header_txt{
  text-align: center;
  color: white;
  opacity: 0.2;
  margin-left: 34vw;
  margin-right: 30vw;
  padding-top: 5%;
  margin-bottom: 5vh;



}
